.calculator {
    width: 215px;
    margin: 0 auto;
    background-color: #ac542b;
    padding: 10px;
    border-radius: 20px;
  }
  
  #result {
    width: 97%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 5px;
  }
  
  button {
    background-color: #fff;
    border: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #eedddd;
  }
  